[submodule "musl"]
	path = src/musl
	url = git://git.musl-libc.org/musl
[submodule "vyatta-wireguard-2.0"]
	path = src/vyatta-wireguard-2.0
	url = https://github.com/Lochnair/vyatta-wireguard
	branch = v2.0
[submodule "vyatta-wireguard-1.10"]
	path = src/vyatta-wireguard-1.10
	url = https://github.com/Lochnair/vyatta-wireguard
	branch = master
[submodule "src/wireguard-linux-compat"]
	path = src/wireguard-linux-compat
	url = https://git.zx2c4.com/wireguard-linux-compat
[submodule "src/wireguard-tools"]
	path = src/wireguard-tools
	url = https://git.zx2c4.com/wireguard-tools
