[submodule "WireGuard"]
	path = src/WireGuard
	url = https://git.zx2c4.com/WireGuard
[submodule "musl"]
	path = src/musl
	url = git://git.musl-libc.org/musl
[submodule "libmnl"]
	path = src/libmnl
	url = git://git.netfilter.org/libmnl
[submodule "vyatta-wireguard-2.0"]
	path = src/vyatta-wireguard-2.0
	url = https://github.com/Lochnair/vyatta-wireguard
	branch = v2.0
[submodule "vyatta-wireguard-1.10"]
	path = src/vyatta-wireguard-1.10
	url = https://github.com/Lochnair/vyatta-wireguard
	branch = master
